.news-item {
  color: #828282;
  margin-top: 5px;
}

.news-item-title {
  color: black;
  font-size: 10pt;
  text-decoration: none;
}

.news-item-domain {
  font-size: 8pt;
  margin-left: 5px;
}

.news-item-subtext {
  font-size: 7pt;
}

.news-item-subtext > a {
  color: #828282;
  text-decoration: none;
}

.news-item-subtext > a:hover {
  text-decoration: underline;
}
